body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.CohortCard {
  text-align: center;
  border: grey solid 1px;
  padding: 15rem;
  width: 15rem;
  height: 5rem;
  /* display: inline-grid; */
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}
.UserCard {
  text-align: center;
  border: grey solid 1px;
  padding: 5rem;
  width: 15rem;
  height: 30rem;
  /* display: inline-grid; */
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

